.navbar {
    background-color: #F2E7D5 !important;

}

.navbar2 {
    background-color: #EDEDED !important;
}

.bg-baslık{
    background-color: #f9d6b9;
}

.girilenİslemList{
    background-color: #fbe3d0;
}

.tabless{
    font-family: Fira Code;
}