<!doctype html>
<html  th:lang="${#locale.language}"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Ana Sayfa</title>

    <!-- Turkce karakter -->
    <meta charset="utf-8">

    <!-- responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- seo -->
    <meta name="keywords" content="html5,css3,js,jquery,bootstrap,react,javase" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

    <!-- jquery  -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- react libraries -->
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <link rel="stylesheet"   th:href="@{/css/style.css}">
    <script th:src="@{/js/index.js}"></script>
    <style>
        .navbar {
            background-color: #F2E7D5 !important;

        }

        .navbar2 {
            background-color: #EDEDED !important;
        }
        .kart-bg {
            background-color: #6D9886;
        }

        .kart-bg2 {
            background-color: #393E46;
        }

        /* footer */
        footer a {
            text-decoration: none;
        }

        .ftr {
            margin: 0;
            padding: 0;
            background-color: #F2E7D5;
            height: 80px;
        }

        .ftr-ktgr a {
            color: black;
            margin-right: 25px;
            letter-spacing: 3px;
        }

        .ekle{
            margin-right: 121px;
            margin-bottom: 20px;
        }

        section{
            margin-top: 80px;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-sm navbar-light shadow fixed-top">
    <div class="container">
        <a class="navbar-brand text-dark" th:href="@{/}">OBS<i class="fa-solid fa-graduation-cap ms-3"></i></i></a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-dark bg-light rounded-3" th:href="@{/}"
                       aria-current="page">Anasayfa <span class="visually-hidden">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark " th:href="@{/duyurular}">Duyurular</a>
                </li>

                
            </ul>
            <ul class="navbar-nav mt-2">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="#" id="dropdownId" data-bs-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Kontrol Paneli</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" th:href="@{/admin/giris}" >Admin Giriş</a>
                        <a class="dropdown-item" th:href="@{/ogrenci/giris}">Öğrenci Giriş</a>
                        <a class="dropdown-item" >Personel Giriş</a>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</nav>


<main>
    <section class="">
        <div class="container text-center ">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100 kart-bg2 text-white shadow">
                        <img th:src="@{/images/3024048.jpg}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Lorem İpsum</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
                                odit soluta a, debitis id ab labore vel illo unde, molestias assumenda.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-white">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 shadow">
                        <img th:src="@{/images/7605885.jpg}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Lorem İpsum</h5>
                            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel pariatur
                                a nihil, sit iure sunt.</p>
                        </div>
                        <div class="card-footer ">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 kart-bg2 text-white shadow">
                        <img th:src="@{/images/8262263.jpg}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Lorem İpsum</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga hic,
                                magnam perferendis culpa enim necessitatibus fugiat? Possimus nemo explicabo quaerat
                                iure quisquam eum quasi, provident dolores libero quae.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-white">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>
<footer class="fixed-bottom">
    <!-- place footer here -->
    <section class="ftr">
        <div class="text-center text-dark mt-4 pt-4">
            <ul class="ftr-ktgr">
                <a class="" >Anasayfa</a>
                <a class="" >Duyurular</a>
            </ul>
        </div>
</footer>
    <!-- start codes -->

    <!-- ends codes -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>